h1{
    font-size: 80px;
    text-align: center;
    height: 60px;
    margin: auto;
    text-decoration: underline;
    padding-top: 20px;
}
@media screen and (min-width:0) , (max-width:173){
    h1{
font-size: 50px;
    }

}

h3{
    text-align: center;
    background-color: rgb(90, 150, 155);
    border: 3px rgb(115, 115, 194) solid;
    color: white;
    height: auto;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 45px;
}
@media screen and (min-width: 0), (max-width: 630) {
    h3{
        font-size: 30px;
    }
}
div
{
    background-color: rgb(209, 229, 248);
}
.folder{
    display: flex;
    flex-wrap: wrap;
}

.images{
    width: 230px;
    height: 230px;
    border:3px solid black;
    margin: 12px;
    text-align: center;
    font-size: xx-large;
    
}
img{
    object-fit: contain;
    height: 160px;
    width: 160px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    
}
